[build]
  command = "npm run build"
  publish = ".next"

[build]
  command = "npm run build"
  publish = ".next"
  NODE_VERSION = "20.9.0"
  NPM_VERSION = "10"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.processing]
  skip_processing = false

[build.processing.css]
  bundle = true
  minify = true

[build.processing.js]
  bundle = true
  minify = true
